[BASIC]

# Allow for names < 3 characters
good-names-rgxs=^[_a-z][_a-z0-9]?$

# Allow classes with few methods
min-public-methods=0

[DESIGN]
max-parents=15

[MESSAGES CONTROL]
disable=
    too-many-instance-attributes,
    attribute-defined-outside-init,
    no-member
